{% extends "product/base.html" %}

{% block content %}
    <h1>Your Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>${{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price|mul:item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'checkout' %}">Checkout</a>
{% endblock %}
